@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.navigation_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .navigation_bar {
    height: 73px !important;
  }
}

.logo {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 1000px) {
  .logo {
    font-size: 35px !important;
    line-height: 50px !important;
  }
}

.navigation_arrow {
  display: none;
  position: absolute;
  height: 16px;
  left: 6%;
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.introduction {
  display: flex;
  flex-direction: column;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}

.location_icon {
  margin-right: 12px;
}

.explore {
  background-color: #F6F6F6;
}

.explore_margin_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .explore_margin_wrapper .section_title {
    font-size: 32px;
    line-height: 37px;
  }
}
@media screen and (min-width: 1000px) {
  .explore_margin_wrapper .section_title {
    font-size: 40px;
    line-height: 46px;
  }
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.button {
  transition: 0.2s;
  background: linear-gradient(to top left, #9356DC -5.2%, #FF79DA 110.74%);
  padding: 15px 25px;
  border-style: hidden;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(to top left, #9b63df -5.2%, #ff88de 110.74%);
  box-shadow: 0px 5px 20px hsla(0, 0%, 0%, 0.3);
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.tutorial {
  display: flex;
  justify-content: center;
}

.tutorial_wrapper {
  display: flex;
  flex-direction: column;
}

.tutorial_card {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  justify-content: space-between;
  width: clamp(240px, 60vw + 1rem, 260px);
  height: 68px;
  padding-right: clamp(30px, 6vw + 1rem, 40px);
  transition: 0.2s;
}
.tutorial_card:hover {
  cursor: pointer;
  background-color: #F5EDFF;
}
.tutorial_card:hover .tutorial_icon {
  color: #9356DC;
}

.tutorial__card_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 1000px) {
  .tutorial__card_container {
    flex-direction: row;
    gap: 30px;
  }
}

.tutorial_order_circle {
  background-color: #9356DC;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}

.tutorial_icon {
  height: 20px;
  color: #7E7E7E;
  transform: translateX(-5px);
  transition: 0.2s;
}

.tutorial_text {
  width: 180px;
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.restaurants_list {
  background-color: #F6F6F6;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

.restaurantsList__card_container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 1000px) {
  .restaurantsList__card_container {
    flex-direction: row;
  }
}

.restaurant_card {
  position: relative;
  width: clamp(280px, 79vw + 1rem, 320px);
  background-color: white;
  overflow: hidden;
}
.restaurant_card:hover {
  cursor: pointer;
}

.restaurant_card_image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/0.55;
}

.restaurant_card_bottom {
  display: flex;
  justify-content: space-between;
}

.restaurant_card_name,
.restaurant_card_location,
.restaurant_new_text {
  margin: 5px;
}

.restaurant_card_icon {
  font-size: 21px;
}

.restaurant_new {
  position: absolute;
  background-color: #99E2D0;
  padding: 0px 3px;
  top: 15px;
  right: 15px;
}

.logo {
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
  color: black;
}

.bold_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: black;
}

.section_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: black;
}

.explore_paragraph {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: black;
}

.button_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.tutorial_order_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
}

.restaurant_card_name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.restaurant_card_location {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.restaurant_new_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #008766;
}

.explore_margin_wrapper {
  margin: 20px 8% 60px 8%;
}

.explore_paragraph {
  margin: -5px 0 30px 0;
}

.tutorial {
  margin: 25px 20px 50px 20px;
}

.tutorial__card_container {
  margin: 10px 0px 0px 10px;
}

.restaurants_list_wrapper {
  margin: 0px 20px 0px 20px;
}

.restaurant_card_bottom {
  margin: 5px 25px 12px 10px;
}

.restaurant_card_icon {
  margin: 5px 0px 0px 0px;
}

.button {
  border-radius: 25px;
}

.tutorial_card {
  border-radius: 20px;
}

.restaurant_card {
  border-radius: 15px;
}

.restaurant_new {
  border-radius: 2px;
}

.navigation_bar {
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.15);
}

.button {
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.25);
}

.tutorial_card {
  box-shadow: 0px 4px 15px hsla(0, 0%, 0%, 0.15);
}

.restaurant_card {
  box-shadow: 0px 4px 15px hsla(0, 0%, 0%, 0.1);
}

.restaurant_new {
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.15);
}

/*# sourceMappingURL=main.css.map */
