@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.navigation_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .navigation_bar {
    height: 73px !important;
  }
}

.logo {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 1000px) {
  .logo {
    font-size: 35px !important;
    line-height: 50px !important;
  }
}

.navigation_arrow_link {
  display: flex;
  align-items: center;
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.gradient_button:hover,
.navigation_arrow:hover,
.heart_like:hover {
  cursor: pointer;
}

/*-------------*/
.gradient_button {
  padding: 15px 25px;
  border-style: hidden;
  background: linear-gradient(to top left, #9356DC -5.2%, #FF79DA 110.74%);
  transition: 0.2s;
}
.gradient_button:hover {
  background: linear-gradient(to top left, #9b63df -5.2%, #ff88de 110.74%);
}

/*-------------*/
.navigation_arrow {
  position: absolute;
  height: 16px;
  width: 16px;
  padding: 8px;
  border-radius: 50%;
  left: 6%;
  transition: 0.2s;
}

/*-------------*/
.heart_like {
  font-size: 21px;
  background: linear-gradient(to top left, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
footer {
  background-color: #353535;
  padding: 15px 0px 25px 25px;
}
@media screen and (min-width: 1000px) {
  footer {
    padding: 10px 0px;
    display: flex;
    justify-content: right;
  }
}

.footer_ul {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .footer_ul {
    flex-direction: row;
    width: min(75%, 800px);
    justify-content: space-between;
    margin-right: 90px;
  }
}

.footer_logo {
  color: #ffffff !important;
  font-size: 18px !important;
}
@media screen and (min-width: 1000px) {
  .footer_logo {
    order: 5;
  }
}

.footer_icon {
  color: #ffffff;
  height: 13px;
  width: 13px;
}

.footer_li {
  display: flex;
  align-items: center;
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.menu_image {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
@media screen and (min-width: 1000px) {
  .menu_image {
    height: 350px;
  }
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.menu_list {
  position: relative;
  padding: 20px 0px;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  z-index: 1;
}

.menu_header_logo {
  font-size: 25px !important;
}
@media screen and (min-width: 1000px) {
  .menu_header_logo {
    font-size: 28px !important;
  }
}

.menu_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_section_card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.menu_header {
  width: clamp(300px, 79vw + 1rem, 360px);
  display: flex;
  align-items: center;
}

.menu_section_title {
  position: relative;
  width: clamp(300px, 79vw + 1rem, 540px);
}
.menu_section_title::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  left: 0;
  bottom: -6px;
}

.menu_gradient_button {
  padding: 15px 50px;
}

/*font-family for the logo and the restaurant's name in the menu page*/
/*-----TEXTS-----*/
/*-----BREAKPOINTS-----*/
/*-----BOX-SHADOW-----*/
/*-----BACKGROUND-COLORS-----*/
/*-----MARGINS-----*/
/*-----BORDER-RADIUS-----*/
.menu_plate_card {
  display: flex;
  width: clamp(300px, 79vw + 1rem, 540px);
  background-color: #ffffff;
  overflow: hidden;
}
.menu_plate_card:hover {
  cursor: pointer;
}
.menu_plate_card:hover .menu_plate_card_choosed {
  width: 70px;
}
.menu_plate_card:hover .menu_plate_card_choosed .menu_plate_check_icon {
  width: 20px;
}

.menu_plate_card_left {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px 0px;
  width: 100%;
}

.menu_plate_information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_plate_title,
.menu_plate_details {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu_plate_card_choosed {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 0px;
  margin-left: auto;
  transition: 0.4s;
}

.menu_plate_check_icon {
  width: 0px;
  height: 20px;
  color: #ffffff;
  transition: 0.4s;
}

.logo {
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
  color: black;
}

.bold_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: black;
}

.section_title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: black;
}

.explore_paragraph {
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  color: black;
}

.button_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
}

.tutorial_order_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #ffffff;
}

.restaurant_card_name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #000000;
}

.restaurant_card_location {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
}

.restaurant_new_text {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #008766;
}

.footer_text {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #ffffff;
}

.menu_section_title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #000000;
}

.menu_plate_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
}

.menu_plate_details {
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  color: #000000;
}

.menu_plate_price {
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  color: #000000;
}

.explore_margin_wrapper {
  margin: 20px 8% 60px 8%;
}

.explore_paragraph {
  margin: -5px 0 30px 0;
}

.tutorial {
  margin: 25px 20px 50px 20px;
}

.tutorial__card_container {
  margin: 10px 0px 0px 10px;
}

.restaurants_list_wrapper {
  margin: 0px 20px 0px 20px;
}

.restaurant_card_bottom {
  margin: 5px 25px 12px 10px;
}

.restaurant_card_icon {
  margin: 5px 0px 0px 0px;
}

.menu_section_title {
  margin: 30px 0px 15px 0px;
}

.menu_plate_price {
  margin: 4px 20px 4px 20px;
}

.menu_plate_title {
  margin: 4px 10px 4px 10px;
}

.menu_plate_details {
  margin: 4px 10px 4px 10px;
}

.footer_text {
  margin: 5px 0px 5px 0px;
}

.footer_icon {
  margin: 0px 10px 0px 0px;
}

.location_icon {
  margin: 0px 12px 0px 0px;
}

.menu_list {
  margin: -45px auto 0px auto;
}

.logo {
  margin: 0px;
}

.menu_header_logo {
  margin: 0px 30px 0px 0px;
}

.restaurant_card_name {
  margin: 5px;
}

.restaurant_card_location {
  margin: 5px;
}

.restaurant_new_text {
  margin: 5px;
}

.menu_gradient_button {
  margin: 30px 0px 20px 0px;
}

.gradient_button {
  border-radius: 25px;
}

.tutorial_card {
  border-radius: 20px;
}

.restaurant_card {
  border-radius: 15px;
}

.restaurant_new {
  border-radius: 2px;
}

.menu_plate_card {
  border-radius: 15px;
}

.menu_list {
  border-radius: 30px 30px 0px 0px;
}

.navigation_bar {
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.15);
}

.gradient_button {
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.25);
}

.tutorial_card {
  box-shadow: 0px 4px 15px hsla(0, 0%, 0%, 0.15);
}

.restaurant_card {
  box-shadow: 0px 4px 15px hsla(0, 0%, 0%, 0.1);
}

.restaurant_new {
  box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.15);
}

.menu_plate_card {
  box-shadow: 0px 4px 15px hsla(0, 0%, 0%, 0.1);
}

.navigation_arrow:hover {
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.15);
}

.gradient_button:hover {
  box-shadow: 0px 5px 20px hsla(0, 0%, 0%, 0.3);
}

/*# sourceMappingURL=menu.css.map */
