@import "../utils/variables";
@import "../utils/breakpoints";

.gradient_button,
.navigation_arrow,
.heart_like {
    &:hover {
        cursor: pointer;
    }
}

/*-------------*/

.gradient_button {
    padding: 15px 25px;
    border-style: hidden;
    background: map-get($background-colors , gradient);
    transition: .2s;

    &:hover {
        background: map-get($background-colors , lighten-gradient);
    }
}

/*-------------*/

.navigation_arrow {
    position: absolute;
    height: 16px;
    width: 16px;
    padding: 8px;
    border-radius: 50%;

    left: 6%;
    transition: .2s;
}

/*-------------*/

.heart_container {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    height: fit-content;
    width: fit-content;

    &:hover .heart_liked {
        height: 21px;
    }
}

.heart_like {
    height: 21px;
}

.heart_liked {
    position: absolute;
    height: 0px;
    bottom: 0px;
    transition: .4s;
}

.heart_liked path {
    fill: url(#end);
    transition: .4s;
    transform-origin: 50% 50%;
    transform: scale(1.1);
}

.heart_like path {
    fill: transparent;
    stroke-width: 30px;
    stroke: rgb(0, 0, 0);
}

/**/