@import "../utils/variables";
@import "../utils/breakpoints";

.gradient_button,
.navigation_arrow,
.heart_like {
    &:hover {
        cursor: pointer;
    }
}

/*-------------*/

.gradient_button {
    padding: 15px 25px;
    border-style: hidden;
    background: map-get($background-colors , gradient);
    transition: .2s;

    &:hover {
        background: map-get($background-colors , lighten-gradient);
    }
}

/*-------------*/

.navigation_arrow {
    position: absolute;
    height: 16px;
    width: 16px;
    padding: 8px;
    border-radius: 50%;

    left: 6%;
    transition: .2s;
}

/*-------------*/

.heart_like {
    font-size: 21px;
    background: map-get($background-colors , gradient);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    // color: transparent;
}