.restaurant_heart_icon {
    font-size: 21px;
    background: linear-gradient(to right, #ff0084, #33001b);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: black;
}