@import "../utils/variables";
@import "../utils/breakpoints";

.menu_list {
    position: relative;
    padding: 20px 0px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($background-colors , light-background);
    z-index: 1;
}

.menu_header_logo {
    font-size: 25px !important;

    @include desktop_only {
        font-size: 28px !important;
    }
}

.menu_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_section_card_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.menu_header {
    width: clamp(300px, 79vw + 1rem, 360px);
    display: flex;
    align-items: center;
}

.menu_section_title {
    position: relative;
    width: clamp(300px, 79vw + 1rem, 540px);

    &::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 3px;
        background-color: map-get($background-colors , meal-choosed);
        left: 0;
        bottom: -6px;
    }
}

.menu_gradient_button {
    padding: 15px 50px;
}