@import "../utils/variables";
@import "../utils/breakpoints";

.restaurants_list {
    background-color: map-get($background-colors, light-background);
    padding: 20px 0px 70px 0px;
    display: flex;
    justify-content: center;
}

.restaurants_list_wrapper {
    @include desktop-only {
        width: max(70%, 960px);
    }
}

.restaurantsList__card_container {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include desktop-only {
        flex-direction: row;
    }
}

.restaurant_card {
    position: relative;
    width: clamp(280px, 79vw + 1rem, 340px);
    background-color: white;
    overflow: hidden;
    flex-shrink: 0;

    &:hover {
        cursor: pointer;
    }
}

.restaurant_card_image {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/.55;

    @include desktop-only {
        aspect-ratio: 1/.50;
    }
}

.restaurant_card_bottom {
    display: flex;
    justify-content: space-between;
}

.restaurant_card_name,
.restaurant_card_location,
.restaurant_new_text {
    margin: 5px;
}

.restaurant_new {
    position: absolute;
    background-color: map-get($background-colors , restaurant_new);
    padding: 0px 3px;
    top: 15px;
    right: 15px;
}