/*font-family for the logo and the restaurant's name in the menu page*/
$logo_title: 'Shrikhand', cursive;

/*-----TEXTS-----*/

$text-palette: (
    logo:(font-size: 30px,
        font-weight: 400,
        line-height: 43px,
        color: black,
    ),
    bold_text:(font-size: 16px,
        font-weight: 500,
        line-height: 18px,
        color: black,
    ),
    section_title:(font-size: 24px,
        font-weight: 700,
        line-height: 28px,
        color: black,
    ),
    explore_paragraph:(font-size: 18px,
        font-weight: 300,
        line-height: 21px,
        color: black,
    ),
    button_text:(font-size: 16px,
        font-weight: 500,
        line-height: 18px,
        color: #ffffff,
    ),
    tutorial_order_text:(font-size: 14px,
        font-weight: 500,
        line-height: 17px,
        color: #ffffff,
    ),
    restaurant_card_name:(font-size: 18px,
        font-weight: 700,
        line-height: 21px,
        color: #000000,
    ),
    restaurant_card_location:(font-size: 17px,
        font-weight: 300,
        line-height: 20px,
        color: #000000,
    ),
    restaurant_new_text:(font-size: 14px,
        font-weight: 500,
        line-height: 16px,
        color: #008766,
    ),
    footer_text:(font-size: 16px,
        font-weight: 500,
        line-height: 19px,
        color: #ffffff,
    ),
    menu_section_title:(font-size: 16px,
        font-weight: 300,
        line-height: 19px,
        color: #000000,
    ),
    menu_plate_title:(font-size: 18px,
        font-weight: 500,
        line-height: 21px,
        color: #000000,
    ),
    menu_plate_details:(font-size: 15px,
        font-weight: 300,
        line-height: 17px,
        color: #000000,
    ),
    menu_plate_price:(font-size: 15px,
        font-weight: 700,
        line-height: 17px,
        color: #000000,
    ),
);

/*-----BREAKPOINTS-----*/

$breakpoints: (
    tablet: 600px,
    desktop: 1000px
);

/*-----BOX-SHADOW-----*/

$box-shadow: (
    navigation_bar: (offset-x: 0px,
        offset-y: 2px,
        blur-radius: 4px,
        color: hsla(0, 0%, 0%, 0.15)),
    gradient_button: (offset-x: 0px,
        offset-y: 4px,
        blur-radius: 10px,
        color: hsla(0, 0%, 0%, 0.25)),
    tutorial_card: (offset-x: 0px,
        offset-y: 4px,
        blur-radius: 15px,
        color: hsla(0, 0%, 0%, 0.15)),
    restaurant_card: (offset-x: 0px,
        offset-y: 4px,
        blur-radius: 15px,
        color: hsla(0, 0%, 0%, 0.10)),
    restaurant_new: (offset-x: 0px,
        offset-y: 2px,
        blur-radius: 4px,
        color: hsla(0, 0%, 0%, 0.15)),
    menu_plate_card: (offset-x: 0px,
        offset-y: 4px,
        blur-radius: 15px,
        color: hsla(0, 0%, 0%, 0.10)),
    'navigation_arrow:hover': (offset-x: 0px,
        offset-y: 4px,
        blur-radius: 10px,
        color: hsla(0, 0%, 0%, 0.15)),
    'gradient_button:hover': (offset-x: 0px,
        offset-y: 5px,
        blur-radius: 20px,
        color: hsla(0, 0%, 0%, 0.30)),
);

/*-----BACKGROUND-COLORS-----*/

$background-colors: (
    default-background: #ffffff,
    dark-background: #EAEAEA,
    light-background: #F6F6F6,
    purple-background: #9356DC,
    tutorial-icon-background: #7E7E7E,
    tutorial-card-hover-background: #F5EDFF,
    restaurant_new: #99E2D0,
    meal-choosed: #99E2D0,
    footer: #353535,
    gradient: linear-gradient(to top left, #9356DC -5.2%, #FF79DA 110.74%),
    lighten-gradient: linear-gradient(to top left, lighten(#9356DC, 3) -5.2%, lighten(#FF79DA, 3) 110.74%)
);

/*-----MARGINS-----*/

$margins: (
    explore_margin_wrapper: 20px 8% 60px 8%,
    explore_paragraph: -5px 0 30px 0,
    tutorial: 25px 20px 50px 20px,
    tutorial__card_container: 10px 0px 0px 10px,
    restaurants_list_wrapper: 0px 20px 0px 20px,
    restaurant_card_bottom: 5px 25px 12px 10px,
    restaurant_card_icon: 5px 0px 0px 0px,
    menu_section_title: 30px 0px 15px 0px,
    menu_plate_price: 4px 20px 4px 20px,
    menu_plate_title: 4px 10px 4px 10px,
    menu_plate_details: 4px 10px 4px 10px,
    footer_text: 5px 0px 5px 0px,
    footer_icon: 0px 10px 0px 0px,
    location_icon: 0px 12px 0px 0px,
    menu_list: -45px auto 0px auto,
    logo: 0px,
    menu_header_logo: 0px 30px 0px 0px,
    restaurant_card_name: 5px,
    restaurant_card_location: 5px,
    restaurant_new_text: 5px,
    menu_gradient_button: 30px 0px 20px 0px,
    "restaurant_card_bottom .heart_like": 5px 0px 0px 0px,
);

/*-----BORDER-RADIUS-----*/

$border-radius: (
    gradient_button: 25px,
    tutorial_card: 20px,
    restaurant_card: 15px,
    restaurant_new: 2px,
    menu_plate_card: 15px,
    menu_list: 30px 30px 0px 0px,
);